*{
    padding: 0;
    margin: 2px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
}

.header2{
    margin-bottom: 5px;
}

.btn{
    margin-top: 5px;
}